footer
  .footer-top
    .footer-brand
      a.logo(href="#") Auto
        span Taller
        |  Olmedo
      p Más de 20 años siendo el taller de confianza de las familias de Aguascalientes. Calidad, honestidad y experiencia al servicio de tu auto.

    .footer-col
      h5 Servicios
      ul
        li
          a(href="#servicios") Cambio de Aceite Basico
        li
          a(href="#servicios") Cambio de Aceite Plus
        li
          a(href="#servicios") Cambio de Aceite Extraplus
        li
          a(href="#servicios") Alineacion
        li
          a(href="#servicios") Balanceo

    .footer-col
      h5 Empresa
      ul
        li
          a(href="#nosotros") Nosotros
        li
          a(href="#proceso") Cómo trabajamos
        li
          a(href="#contacto") Contacto

    .footer-col
      h5 Horario
      ul
        li
          a(href="#") Lun – Vie: 8am – 7pm
        li
          a(href="#") Sábado: 9am – 4pm
        li
          a(href="#") Domingo: Cerrado

