nav
  a.nav-logo(href="#") Auto
    span Taller
    | Olmedo
  ul.nav-links
    li
      a(href="#servicios") Servicios
    li
      a(href="#nosotros") Nosotros
    li
      a(href="#proceso") Cómo Trabajamos
    li
      a.nav-cta(href="/auth/login") Iniciar Sesion